.debug * {
    background-color: rgba(255, 0, 0, 0.2);
}

/* mix */
body {
    padding-top: 80px;
}

.bg--blue {
    background-color: #2c3e50;
}
/* /mix */


/* typo */
h1 {
    font-size: 30px;
}
/* /typo */


/* header */
header {
    height: 80px;
    color: #fff;
    border: none;
}

li {
    list-style: none;
}

.nav__main {
    padding-top: 25px;
}
/* /header */

/* main */
.prova {
    height: 1000px;
}
/* /main */


/* responsive */

/* solo xsmall */
@media screen and (max-width:767px) {
    /* header */
    .nav__main li:not(:first-child) {
        display: none;
    }
    /* /header */
}

/* small */
@media screen and (min-width:768px) {
    /* header */
    .nav__main li {
        display: inline-block;
    }
    /* /header */

}

/* medium */
@media screen and (min-width:992px) {
    /* mix */
    body {
        padding-top: 100px;
    }
    /* /mix */

    /* typo */
    h1 {
        font-size: 36px;
    }
    /* /typo */

    /* header */
    header {
        height: 100px;
        padding-top: 10px;
    }

    .nav__main {
        padding-top: 30px;
    }
    /* /header */

 


}

