.debug * {
    background-color: rgba(255, 0, 0, 0.2);
}

/* mix */
body {
    padding-top: 80px;
}

.bg--blue {
    background-color: #2c3e50;
    color: #fff;
}
.bg--green {
    background-color: #1abc9c;
    color: #fff;
}
.bg--darkblue {
    background-color: #2C3E50;
}
/* /mix */

/* typo */
h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}
/* /typo */


/* main */

/* header */
header {
    height: 80px;
    color: #fff;
    border: none;
}

.header__logo {
    font-size: 28px;
}

li {
    list-style: none;
}

.header__logo, .nav__main {
    line-height: 70px;
}
/* /header */

section, .footer__top {
    padding: 85px 0;
}
.jumbo__placeholder {
    background-color: #fff;
    height: 520px;
    margin: 0 auto;
}
.jumbo__img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin: 0 auto;
    background-color: #2c3e50;
}

.portfolio__item {
    height: 300px;
    max-width: 400px;
    border-radius: 10px;
    background-color: lightgrey;
    margin: 25px auto;
}

.contact__form {
    width: 100%;
    height: 400px;
    background-color: lightgrey;
}
/* /main */


/* responsive */

/* solo xsmall */
@media screen and (max-width:767px) {
    /* header */
    .nav__main li:not(:first-child) {
        display: none;
    }
    /* /header */

    /* main */
    .wrapper__row {
        width: 100%;
        margin: 0 auto;
    }
    /* /main */

}

/* intermedio xsmall-small */
@media screen and (min-width:552px) {
    
}

/* small */
@media screen and (min-width:768px) {
    /* header */
    .nav__main li {
        display: inline-block;
    }
    /* /header */

    /* main */
    .portfolio__item {
        height: 250px;
    }

    .wrapper__row {
        max-width: 550px;
        margin: 0 auto;
    }
    /* /main */

}

/* medium */
@media screen and (min-width:992px) {
    /* mix */
    body {
        padding-top: 100px;
    }
    /* /mix */

    /* header */
    header {
        height: 100px;
        padding-top: 10px;
    }

    .header__logo {
        font-size: 36px;
    }

    .header__logo, .nav__main {
        line-height: 80px;
    }
    /* /header */
   
    /* main */
    .portfolio__item {
        height: 230px;
    }

    .wrapper__row {
        max-width: 700px;
    }
    /* /main  */

}

/* large */
@media screen and (min-width:1200px) {
    /* main */
    .portfolio__item {
        height: 250px;
    }

    .wrapper__row {
        max-width: 800px;
    }
    /* /main  */

}

